<!DOCTYPE html>
<html>
<head>
	<title>Commentss</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
  	<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
</head>
<body>
	 <div class="container">
  		<label>First Name</label>
  		<div>
  			<img src="../images/profile.jpeg">
  		</div>
  		
  		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisivulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  		<small>Posted on February, 19th 2019 at 12:12 by Username</small>
  		<div class="form-group">
  			<textarea class="form-control" rows="6">Comments here</textarea>
  		</div>
  		<button class="btn btn-primary btn-sm">Send</button>
  		
    </div>
</body>
</html>