<!DOCTYPE html>
<html>
<head>
	<title>Event Show</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
  	<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
</head>
<body>
	<div class="container">

		<div class="row">
			
			<div class="col-lg-8">
				<center><h3>Title Event</h3></center>
				<img src="../images/green.jpg" width="100%">
			</div>
			<div class="col-lg-4">
				<br><br>
				<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisivulputate fringilla. Donec lacinia congue felis in faucibus.Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisivulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			</div>
			
		</div>

		<div class="row">
			
			<div class="col-lg-4">
				<br><br>
				<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisivulputate fringilla. Donec lacinia congue felis in faucibus.Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisivulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			</div>
			<div class="col-lg-8">
				<center><h3>Title Event</h3></center>
				<img src="../images/green.jpg" width="100%">
			</div>
			
		</div>
		
	</div>


</body>
</html>